body {
  background-image: url(imagenes/fondo.jpg);
}

div.segundofondo{
  background: white;
margin: 5%

}

nav{background-color: red;
padding:1%;
}

a.nav-link { color: white
}

div.card{ width: 45%;
margin: 2%;
padding: 1%;
background-color: white}

#carouselExampleCaptions { display: flex;
  justify-content: right;
  width: 75%;
  margin: 5%;
}

.card-title{ font-size: 1rem;
text-align: center;}

.card-text{ text-align: down;}

.titulo{text-align: center;
font-size: 30px;}

div.linea{ height: 1%;
background-color: red;}

.piedepagina{background-color: black;
width: 100%;}

footer{width: 100%;}
